.navbarfirst {
  background-color: rgb(34, 34, 78);
  color: white;
}
.Logout {
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 15px 10px;
  font-size: 17px;
}

.ADDTASK {
  background-color: rgb(31, 31, 139);
  color: white;
}
.tabledata {
  width: 60%;
  margin: 0% 20%;
}

.description {
  color: gray;
}
.completed {
  color: gray;
}
@media only screen and (max-width: 640px) {
  .tabledata {
    width: 20%;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 540px) {
  .tabledata {
    width: 10% !important;
    margin-left: 0%;
  }
}
@media only screen and (max-width: 510px) {
  .navbarfirst {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
    .navbarfirst {
      width: 120% !important;
    }
  }
@media only screen and (max-width: 390px) {
    .navbarfirst {
      width: 150% !important;
    }
  }
  @media only screen and (max-width: 340px) {
    .navbarfirst {
      width: 170% !important;
    }
  }
  @media only screen and (max-width: 300px) {
    .navbarfirst {
      width: 190% !important;
    }
  }